.card-header {
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 160px;
}

.nav-bar {
    display: flex;
    align-items: center;
}

.nav-bar a {
    margin: 0px 25px;
    text-decoration: none;
}

.btn-enter {
    display: flex;
    align-items: center;
    margin: 25px 15px;
    padding: 0px 15px;
}